$font-monospace: "PT Mono", monospace, monospace
$font-sans: system-ui, -apple-system, BlinkMacSystemFont, sans-serif
$input-height: 2.5rem
$input-font-size: 1.2rem
$input-border-radius: 0
$column-gap: 1.5rem
