.layout
  height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  h1
    font-size: 2.5rem
    margin-bottom: 2rem

  main
    display: flex
    align-items: center
    justify-content: center
    gap: 2rem

.columns
  display: flex
  gap: $column-gap

  > *
    flex: 1

  .input-field, .masked-input-field
    margin-bottom: 0